<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="src/main/resources/config.properties"> <!--ссылка на файл со свойствами(ссылка на СУБД, логин, пароль и тп.)-->
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <environments default="development"><!--в данном блоке настраиваются подключения к БД-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers><!--в данном блоке необходимо описать маперы, которые используются в проекте-->
        <mapper class="kz.jazzsoft.mapper.SubscriberMapper"/>
        <mapper class="kz.jazzsoft.mapper.TariffMapper"/>
        <mapper class="kz.jazzsoft.mapper.PaymentMapper"/>
    </mappers>
</configuration>